@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Great+Vibes&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italianno&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Satisfy&display=swap');
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 238, 242);
}
.container{
   background-color: rgb(249, 246, 246);
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20% auto;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.container h2{
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5;

    color:rgb(74, 74, 213)
    
}
/* .container:hover{
   
    border: 1px solid rgb(182, 182, 200);
} */
.quote-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    
}
.quote-content{
    border: 1px solid rgb(217, 217, 234);
    border-radius: 4px;
    width: 60vh;
    padding: 5px 50px;
    font-family: Poppins;
    font-size: 0.9rem;
}
.quote-content #author{
    padding-left: 50vh;
    
}
.quote-card button{
    background-color: rgb(236, 236, 247);
    font-family: 'Press Start 2P', system-ui;
    color:blue;
    font-size: 0.5rem;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease-in 2s;
}    
.quote-card button:active{
     border: 2px solid blue;
}